$dark-gold: #DFB57B;
$gold: #E4C291;
$dark-gray: #8D8E93;
$darker-gray: #6C6D72;
$lighter-gray: #F5F6F6;
$light-gray: #E2E2E5;
$black: #231F10;



// fonts
$CanelaRegularItalic: 'CanelaRegularItalic';
$CanelaRegular: 'CanelaRegular';
$OpenSansLight: 'OpenSansLight';
$OpenSansRegular: 'OpenSansRegular';
$OpenSansSemiBold: 'OpenSansSemiBold';
$OpenSansBold: 'OpenSansBold';
$StyreneBBoldItalic: 'StyreneBBoldItalic';
$StyreneBBold: 'StyreneBBold';
$StyreneBMediumItalic: 'StyreneBMediumItalic';
$StyreneBMedium: 'StyreneBMedium';
$StyreneBRegularItalic: 'StyreneBRegularItalic';
$StyreneBRegular: 'StyreneBRegular';
$icomoon: 'icomoon';